<body>
        <h2> Customer Pending Orders</h2>

    <input
    type="text"
    class="form-control"
    name="searchString"
    placeholder="Type to search..."
    [(ngModel)]="searchString"
    
  />
<table border="30">
        <tr>
            <th>ORDER ID</th>
            <th>ORDER DATE</th>
            <th>ORDER AMOUNT</th>
            <th>ORDER STATUS</th>
            <th>ORDER QUANTITY</th>
            <th>CUSTOMER ID</th>
            <th>FOOD ID</th>
            <th>VENDOR ID</th>
            <th>WALLET TYPE</th>
            <th>ORDER COMMENTS</th>
            <th>CANCEL ORDER</th>
            <th>SELECT</th>
            

        </tr>
        <!-- <tr *ngFor="let u of orders1 | async"> -->
                <tr *ngFor="let u of orders1 | async | customFilter :  {orderId: searchString, orderComments:searchString, walletType:searchString,orderQuantity:searchString}; let i = index">
            <td>{{u.orderId}}</td>
            <td>{{u.orderDate}}</td>
            <td>{{u.orderTotalamount}}</td>
            <!-- <td>{{u.orderStatus}}</td>  -->
            <div [ngStyle]="{'background-color':u.orderStatus === 'PENDING' ? 'yellow' : 'green' }">{{u.orderStatus}}</div>

            <td>{{u.orderQuantity}}</td> 
            <td>{{u.customerId}}</td>
            <td>{{u.menuId}}</td>
            <td>{{u.vendorId}}</td>
            <td>{{u.walletType}}</td> 
            <td>{{u.orderComments}}</td> 
            <td><input type ="button" class="button button2"value="Cancel Order" (click)="cancelOrder(u.orderId, u.customerId)"/></td>
            <td>
                    <input type="checkbox" name="checkOrderId" (change)="checkIfAllSelected(u.orderId)">
                    {{u.orderId}}
                </td>
        </tr>
    </table>
</body>
<pre>
    
                                                                                                                                                      <input type="button" class="button3 button2" value="Cancel All" (click)="cancelMe()" />
</pre>