table  {
    /* background-image: url(https://cdn.pixabay.com/photo/2012/03/04/00/01/background-21717__340.jpg); */
    background-size:cover;
    background-color:rgb(245, 67, 67);
}
tr:nth-child(even){background-color: azure}

body{
    /* background-image: url(https://cdn.pixabay.com/photo/2012/03/04/00/01/background-21717__340.jpg); */
}
.button {
    background-color:rgb(253, 253, 253);
    border: none;
    color: black;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }  
  search{
    color: brown;
  
}
.button3 {
  background-color:rgb(245, 67, 67);
  border: none;
  color: black;
  padding: 5px 16px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}