<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>“People will forget what you said, forget what you did, but people will never forget how you made them feel.”</p>
  <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://cdn2.iconfinder.com/data/icons/scenarium-vol-4/128/010_avatar_manager_stylish_salesman_employee_user_clerk-512.png" alt="Jane" style="width:50%">
      <div class="container">
        <h2>Hariharan VP</h2>
        <p class="title">CEO & Founder</p>
        <p>"I only want to put out the best for myself and my subscribers."</p>
        <p><i style="font-size:24px" class="fa">&#xf095;</i> +91 9789456123</p>
        <p> <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=hariharan@gmail.com" target="_blank"><button class="button">Email Me</button></a></p>
      </div>
    </div>
  </div>
 <div class="column">
    <div class="card">
      <img src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_beanie_girl-512.png" alt="Mike" style="width:50%">
      <div class="container">
        <h2>Keerthi Padmaja</h2>
        <p class="title">Art Director</p>
        <p>"I'm gonna have to develop myself. I'm just going to do the best that I can do."
           </p>
           <p><i style="font-size:24px" class="fa">&#xf095;</i> +91 7894561231</p>
           <p> <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=keerthi@gmail.com" target="_blank"><button class="button">Email Me</button></a></p>
      </div>
    </div>
  </div>
  <div class="column">
      <div class="card">
        <img src="https://previews.123rf.com/images/ksuperksu/ksuperksu1507/ksuperksu150700028/43127386-blue-flat-style-square-shaped-male-character-icon-with-shadow-illustration-of-a-man-with-stylish-bea.jpg" alt="John" style="width:45%">
        <div class="container">
          <h2>Hariharan G</h2>
          <p class="title">Designer</p>
          <p>"I never had a role model. I ended up wanting to be the best version of myself."
             </p>
             <p><i style="font-size:24px" class="fa">&#xf095;</i> +91 8794561231</p>
             <p> <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=hariharang@gmail.com" target="_blank"><button class="button">Email Me</button></a></p>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="column">
      <div class="card">
        <img src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_smart_girl-512.png" alt="John" style="width:50%">
        <div class="container">
          <h2>Sankari</h2>
          <p class="title">Designer</p>
          <p>
            “Do what is right, not what is easy nor what is popular.”
             </p>
          <p><i style="font-size:24px" class="fa">&#xf095;</i> +91 7845123697</p>
          <p> <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sankaria@gmail.com" target="_blank"><button class="button">Email Me</button></a></p>        </div>
      </div>
    </div>
  <div class="column">
     <div class="card">
       <img src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_ginger__girl-512.png" alt="John" style="width:50%">
        <div class="container">
          <h2>Hari Chandana</h2>
          <p class="title">Analyst</p>
          <p>“Instead of worrying about what you cannot control, shift your energy to what you can create.”
              </p>
          <p><i style="font-size:24px" class="fa">&#xf095;</i> +91 9123456780</p>
         <p> <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=chandana@gmail.com" target="_blank"><button class="button">Email Me</button></a></p>
        </div>
      </div>
     </div>

   </div>
</body>
</html>
